<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="yvertical-mqtt-plugin"
      version="2.0.0">
    <name>MqttPlugin</name>
    <description>Mqtt Plugin</description>
    <license>Apache 2.0</license>
    <keywords>mqtt</keywords>

    <js-module src="www/mqttPlugin.js" name="mqttPlugin">
        <clobbers target="mqttPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="mqttPlugin">
                <param name="android-package" value="com.yvertical.plugin.mqtt.MqttPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
	      <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
          <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
          <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
          <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
          <uses-permission android:name="android.permission.WAKE_LOCK" />
          <uses-permission android:name="android.permission.VIBRATE"/>
          <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
		</config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
          <service
              android:name="org.eclipse.paho.android.service.MqttService"
              android:exported="false" >
            <intent-filter>
              <action android:name="org.eclipse.paho.android.service.MqttService" />

              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
          </service>

          <service android:name="com.yvertical.plugin.mqtt.PushService" android:exported="false" >
          </service>

          <receiver android:name="com.yvertical.plugin.mqtt.SystemStateChangeReceiver">
            <intent-filter>
              <action android:name="android.intent.action.BOOT_COMPLETED" />
              <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
              <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
          </receiver>
          
		</config-file>
        
        <source-file src="src/android/libs/android-support-v4.jar" target-dir="libs/" />
        <source-file src="src/android/res/drawable/app_logo.png" target-dir="res/drawable/" />

        <!-- the following source-files are auto generated by PluginBuilder.java -->
        <source-file src="src/android/com/yvertical/plugin/mqtt/MqttPluginConstants.java" target-dir="src/com/yvertical/plugin/mqtt" />
        <source-file src="src/android/com/yvertical/plugin/mqtt/MqttServiceManager.java" target-dir="src/com/yvertical/plugin/mqtt" />
        <source-file src="src/android/com/yvertical/plugin/mqtt/MqttConnectConfig.java" target-dir="src/com/yvertical/plugin/mqtt" />        
        <source-file src="src/android/com/yvertical/plugin/mqtt/PushService.java" target-dir="src/com/yvertical/plugin/mqtt" />
        <source-file src="src/android/com/yvertical/plugin/mqtt/SystemStateChangeReceiver.java" target-dir="src/com/yvertical/plugin/mqtt" />
        <source-file src="src/android/com/yvertical/plugin/mqtt/MqttPlugin.java" target-dir="src/com/yvertical/plugin/mqtt" />
        <source-file src="src/android/com/yvertical/plugin/mqtt/MqttPluginUtils.java" target-dir="src/com/yvertical/plugin/mqtt" />
        <source-file src="src/android/org/eclipse/paho/android/service/AlarmPingSender.java" target-dir="src/org/eclipse/paho/service" />
        <source-file src="src/android/org/eclipse/paho/android/service/DatabaseMessageStore.java" target-dir="src/org/eclipse/paho/service" />
        <source-file src="src/android/org/eclipse/paho/android/service/MessageStore.java" target-dir="src/org/eclipse/paho/service" />
        <source-file src="src/android/org/eclipse/paho/android/service/MqttAndroidClient.java" target-dir="src/org/eclipse/paho/service" />
        <source-file src="src/android/org/eclipse/paho/android/service/MqttConnection.java" target-dir="src/org/eclipse/paho/service" />
        <source-file src="src/android/org/eclipse/paho/android/service/MqttDeliveryTokenAndroid.java" target-dir="src/org/eclipse/paho/service" />
        <source-file src="src/android/org/eclipse/paho/android/service/MqttService.java" target-dir="src/org/eclipse/paho/service" />
        <source-file src="src/android/org/eclipse/paho/android/service/MqttServiceBinder.java" target-dir="src/org/eclipse/paho/service" />
        <source-file src="src/android/org/eclipse/paho/android/service/MqttServiceConstants.java" target-dir="src/org/eclipse/paho/service" />
        <source-file src="src/android/org/eclipse/paho/android/service/MqttTokenAndroid.java" target-dir="src/org/eclipse/paho/service" />
        <source-file src="src/android/org/eclipse/paho/android/service/MqttTraceHandler.java" target-dir="src/org/eclipse/paho/service" />
        <source-file src="src/android/org/eclipse/paho/android/service/ParcelableMqttMessage.java" target-dir="src/org/eclipse/paho/service" />
        <source-file src="src/android/org/eclipse/paho/android/service/Status.java" target-dir="src/org/eclipse/paho/service" />
        <source-file src="src/android/org/eclipse/paho/android/service/package.html" target-dir="src/org/eclipse/paho/service" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/IMqttActionListener.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/IMqttAsyncClient.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/IMqttClient.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/IMqttDeliveryToken.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/IMqttToken.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/MqttAsyncClient.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/MqttCallback.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/MqttClient.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/MqttClientPersistence.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/MqttConnectOptions.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/MqttDeliveryToken.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/MqttException.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/MqttMessage.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/MqttPersistable.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/MqttPersistenceException.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/MqttPingSender.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/MqttSecurityException.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/MqttToken.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/MqttTopic.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/TimerPingSender.java" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/ClientComms.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/ClientDefaults.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/ClientState.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/CommsCallback.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/CommsReceiver.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/CommsSender.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/CommsTokenStore.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/ConnectActionListener.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/DestinationProvider.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/ExceptionHelper.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/FileLock.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/LocalNetworkModule.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/MessageCatalog.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/MqttPersistentData.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/NetworkModule.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/ResourceBundleCatalog.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/SSLNetworkModule.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/TCPNetworkModule.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/Token.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/nls/logcat.properties" target-dir="src/org/eclipse/paho/client/mqttv3/internal/nls" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/nls/messages.properties" target-dir="src/org/eclipse/paho/client/mqttv3/internal/nls" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/nls/messages_cs.properties" target-dir="src/org/eclipse/paho/client/mqttv3/internal/nls" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/nls/messages_de.properties" target-dir="src/org/eclipse/paho/client/mqttv3/internal/nls" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/nls/messages_es.properties" target-dir="src/org/eclipse/paho/client/mqttv3/internal/nls" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/nls/messages_fr.properties" target-dir="src/org/eclipse/paho/client/mqttv3/internal/nls" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/nls/messages_hu.properties" target-dir="src/org/eclipse/paho/client/mqttv3/internal/nls" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/nls/messages_it.properties" target-dir="src/org/eclipse/paho/client/mqttv3/internal/nls" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/nls/messages_ja.properties" target-dir="src/org/eclipse/paho/client/mqttv3/internal/nls" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/nls/messages_ko.properties" target-dir="src/org/eclipse/paho/client/mqttv3/internal/nls" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/nls/messages_pl.properties" target-dir="src/org/eclipse/paho/client/mqttv3/internal/nls" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/nls/messages_pt_BR.properties" target-dir="src/org/eclipse/paho/client/mqttv3/internal/nls" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/nls/messages_ru.properties" target-dir="src/org/eclipse/paho/client/mqttv3/internal/nls" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/nls/messages_zh_CN.properties" target-dir="src/org/eclipse/paho/client/mqttv3/internal/nls" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/nls/messages_zh_TW.properties" target-dir="src/org/eclipse/paho/client/mqttv3/internal/nls" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/security/SSLSocketFactoryFactory.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/security" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/security/SimpleBase64Encoder.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/security" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/CountingInputStream.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttAck.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttConnack.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttConnect.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttDisconnect.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttInputStream.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttOutputStream.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttPersistableWireMessage.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttPingReq.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttPingResp.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttPubAck.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttPubComp.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttPubRec.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttPubRel.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttPublish.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttReceivedMessage.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttSuback.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttSubscribe.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttUnsubAck.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttUnsubscribe.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MqttWireMessage.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MultiByteArrayInputStream.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/internal/wire/MultiByteInteger.java" target-dir="src/org/eclipse/paho/client/mqttv3/internal/wire" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/logging/JSR47Logger.java" target-dir="src/org/eclipse/paho/client/mqttv3/logging" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/logging/Logger.java" target-dir="src/org/eclipse/paho/client/mqttv3/logging" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/logging/LoggerFactory.java" target-dir="src/org/eclipse/paho/client/mqttv3/logging" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/logging/SimpleLogFormatter.java" target-dir="src/org/eclipse/paho/client/mqttv3/logging" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/logging/jsr47min.properties" target-dir="src/org/eclipse/paho/client/mqttv3/logging" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/logging/package.html" target-dir="src/org/eclipse/paho/client/mqttv3/logging" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/package.html" target-dir="src/org/eclipse/paho/client/mqttv3" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/persist/MemoryPersistence.java" target-dir="src/org/eclipse/paho/client/mqttv3/persist" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/persist/MqttDefaultFilePersistence.java" target-dir="src/org/eclipse/paho/client/mqttv3/persist" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/persist/package.html" target-dir="src/org/eclipse/paho/client/mqttv3/persist" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/util/Debug.java" target-dir="src/org/eclipse/paho/client/mqttv3/util" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/util/Strings.java" target-dir="src/org/eclipse/paho/client/mqttv3/util" />
        <source-file src="src/android/org/eclipse/paho/client/mqttv3/util/package.html" target-dir="src/org/eclipse/paho/client/mqttv3/util" />
        
    </platform>


</plugin>
